body{
	background-color: bisque;
}

#slideshow img {
	height: 264px;
}

#slideshow {
	position: absolute;
	left: 500px;
	top:250px;
}

#se {
	margin-top:200px
}
#rosecrans {
	position: absolute;  
	right:560px;
	top:230px;
}
#slideshow2 img{
	height:204px;
}
#slideshow2{
	position:absolute;
	left:200px;
	top:760px;
}
#BL{
	margin-top:300px
}
#slideshow3 img{
	height:400px;
}
#slideshow3{
	position: absolute;
	left: 400px;
	top:1700px;
}
#southgateart img {
	height: 250px;
	width: 700px
}


